@font-face {
  font-family: "CustomFontRobotoBold";
  src: url("../assets/static/fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "CustomFontRobotoMedium";
  src: url("../assets/static/fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "CustomFontRobotoRegular";
  src: url("../assets/static/fonts/Roboto-Regular.ttf") format("truetype");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}
